/* App.css */

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 2s ease-in forwards;
  }
  
  .fade-in-slow {
    opacity: 0;
    animation: fadeInAnimation 3s ease-in forwards;
  }
  
  @keyframes fadeInAnimation {
    to {
      opacity: 1;
    }
  }

  .bg {
    background-image: url(./Images/BG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; /* Center the image horizontally and vertically */
    height: 100vh;
    opacity: 20vh;
    filter: blur(px);
    
  }

  .lead {
    font-size: 1.25 rem;
    margin-bottom: 1rem;
    color: rgb(248, 248, 248);

  }
